*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: Arial;
	//background-image: url("../img/lago.jpg");
	background-color: #eeeeee;
}

#portada{
	background-image: url("../img/lake.jpg");
	width: 70%;
	height: 150px;
	margin: auto;
	background-position: center;
}

#portada h2{
	color: white;
	padding: 70px 0;
}
.flex-container{
	display: flex;
	background-color: white;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	width: 70%;
}

.side {
	flex: 30%;
	//background-color: blue;
}

.side div{
	padding: 10px;
}

div p{
	padding: 5px;
}

.main {
	flex: 70%;
	//background-color: brown;
}

.main div{
	padding: 10px;
}

div ul{
	margin-left: 25px;
}

.titulos{
	background-color: green;
	color: white;
	padding: 5px;
}

#nombreyfoto{
	border: solid 5px;
	float: right;
}

